body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://media.xtra.com.my/2024/02/rindukasih21402.jpg');
}

.signup-container {
    background-color: #fff;
    padding: 67px;
    border-radius: 8px;
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    text-align: center;
    margin: auto;
}

input {
    width: 100%;
    padding: 18px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    background-color: #50e150;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    
}

a {
    color: #50e150;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
